In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("Titanic-Dataset.csv")
df

In [ ]:
cat_data = [d for d in df.columns if df[d].dtype == 'object']
num_data = [d for d in df.columns if df[d].dtype != 'object']
print(cat_data)
print(num_data)

In [ ]:
df.nunique()

In [ ]:
df[num_data].nunique()

In [24]:
df.Ticket.unique()[:50]

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295'], dtype=object)

In [ ]:
df1 = df.drop(columns=["Name","Ticket"])
df1.shape

In [ ]:
print(round((df1.isnull().sum()/df1.shape[0])*100,2))

In [ ]:
df2 = df1.drop(columns=["Cabin"])
df2.dropna(subset=['Embarked'], axis=0, inplace=True)
df2.shape

In [22]:
df3 = df2.fillna(df2.Age.mean())
df3.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(df3["Age"], vert=False)
plt.ylabel("Variable")
plt.xlabel("Age")
plt.title("Box plot")
plt.show()

In [ ]:
mean = df3["Age"].mean()
std = df3['Age'].std()
print(std)
print(mean)

In [ ]:
lower_bound = mean - std*2
upper_bound = mean + std*2
df4 = df3[(df3['Age'] >= lower_bound) & (df3['Age'] <= upper_bound)]
print(lower_bound)
print(upper_bound)

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(df4["Age"], vert=False)
plt.ylabel("Variable")
plt.xlabel("Age")
plt.title("Box plot")
plt.show()

In [ ]:
x = df3[["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]]
y = df3["Survived"]
print(x)
print(y)

In [23]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
num_col = [d for d in x.columns if x[d].dtype != 'object']

x1=x

x1[num_col] = scaler.fit_transform(x1[num_col])
x1.head()

C:\Users\cheta\AppData\Local\Temp\ipykernel_35856\3155098352.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x1[num_col] = scaler.fit_transform(x1[num_col])

   Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0     1.0    male  0.271174  0.125    0.0  0.014151        S
1     0.0  female  0.472229  0.125    0.0  0.139136        C
2     1.0  female  0.321438  0.000    0.0  0.015469        S
3     0.0  female  0.434531  0.125    0.0  0.103644        S
4     1.0    male  0.434531  0.000    0.0  0.015713        S